# **Módulo | Python:** Fluxo Condicional & Repetição

Tópicos
1. Estrutura condicional if / else / elif;
2. Estrutura condicional try / catch / finally;
3. Estrutura de repetição for / in

# **1. Estrutura condicional if / else / elif**

# **1.1. if / else**

Estrutura de alteração de fluxo lógico do código, avalia um valor booleano ou uma comparação lógica. Note a identação do código.

In [ ]:
if <booleano / comparação lógica> == True:
    <execute este código>

else:
    <senão execute este código>

In [ ]:
if True:
  print("verdadeiro")
else:
  print("falso")

verdadeiro

**Exemplo:** Código de segurança de um cartão de crédito.

In [ ]:
codigo_de_seguranca = "011"
codigo_de_seguranca_cadastro = "010"

pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

False

In [ ]:
if pode_efetuar_pagamento:
  print("Pagamento efetuado")

else:
  print("Erro: Código de segurança inválido!")

Erro: Código de segurança inválido!

In [ ]:
if codigo_de_seguranca == codigo_de_seguranca_cadastro:
  print("Pagamento efetuado")

else:
  print("Erro: Código de segurança inválido")

Erro: Código de segurança inválido

**Exemplo:** Código a senha de segurança de um cartão de crédito

In [ ]:
codigo_de_seguranca = "852"
codigo_de_seguranca_cadastro = "852"

senha = "7783"
senha_cadastro = "7783"

Revisitando a tabela da verdade:

| CÓDIGO        | SENHA        | | | CÓDIGO OR SENHA   | | CÓDIGO AND SENHA  | | NOT CÓDIGO    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

In [ ]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("pagamento efetuado")
else:
  print("Erro: Pagamento não efetuado")

pagamento efetuado

In [ ]:
# != diferente  
if (codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadastro):
  print("Erro: Pagamento não Efetuado")
else:
  print("Pagamento efetuado")

Pagamento efetuado

# **1.2. if / elif / else**
Podemos também avaliar múltipla condições.

In [ ]:
if <1º booleano / 1º comparação lógica> == True:
  <execute este código se a primeira condição for verdade>
elif <2º booleano / 2º comparação lógica> == True:
  <execute este código se a segunda condição for verdade>
else:
  <senão execute este código>

In [ ]:
codigo_de_seguranca = "832"
codigo_de_seguranca_cadastro = "852"

senha = "7783"
senha_cadastro = "7783"

| CÓDIGO        | SENHA        | | | CÓDIGO AND SENHA  | MENSAGEM |
|----------|----------|-|-|----------|-|
| **TRUE** | **TRUE** | | | **TRUE** | Pagamento efetuado |
| **TRUE** | FALSE    | | | FALSE    | Erro: Senha inválida |
| FALSE    | FALSE    | | | FALSE    | Erro: Código de segurança e senha inválidos |
| FALSE    | **TRUE** | | | FALSE    | Erro: Código de segurança inválido |

In [ ]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("Pagamento efetuado")
elif (codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("Erro: Código de segurança invalido")
elif (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha != senha_cadastro):
  print("Erro: Senha inválida")
else:
  print("Erro: Código de segurança e senha inválidos")

Erro: Código de segurança invalido

## **2.Estrutura condicional try / except / finally**

## 2.1.Exceção

Exceções são erros que podem acontecer durante a execução do nosso código.

**Exemplo**: Erro de operações numéricas impossíveis

In [ ]:
preco = 132.85
pessoas = 0

In [ ]:
valor_por_pessoa = preco / pessoas

ZeroDivisionError: ignored

**Exemplo**: Erro por combinações de tipos diferentes

In [ ]:
nome = "Andre Perez"
idade = 19

In [ ]:
apresentacao = "Fala pessoal, meu nome é " + nome + " e eu tenho " + idade + " anos "

TypeError: ignored

**Exemplo:** Erro de indexação de estrututa de dados

In [ ]:
anos = [2020, 2021, 2022]

In [ ]:
ano_atual = anos[3]

IndexError: ignored

In [ ]:
cursos = {
    "python": {
        "nome": "Python para Análise de Dados", "duração" : 2.5  
    }, 
    "sql": {
      "nome": "SQL para Análise de Dados", "duração": 2
    }
}

curso_atual = cursos["analista"]

KeyError: ignored

## **2.2.try/except**

Estrutura para tratar exceções:

In [ ]:
preco = 132.85
pessoas = 0

In [ ]:
try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print("Número de pessoas inválido. Espera-se um valor maior que 0 e obteve-se um valor igual a " + str(pessoas))

Número de pessoas inválido. Espera-se um valor maior que 0 e obteve-se um valor igual a 0

In [ ]:
anos = [2020, 2021, 2022]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception:
  print("Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e " + str(len(anos)-1))

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [ ]:
anos = [2020, 2021, 2022]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception as exc:
  print("Descrição da exceção: " + str(exc))
  print("Tipo da exeção: " + str(type(exc)))
  print("lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e " + str(len(anos)-1))

Descrição da exceção: list index out of range
Tipo da exeção: <class 'IndexError'>
lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [ ]:
anos = [2020, 2021, 2022]

try:
  ano_atual = anos[3]
  print(ano_atual)
except IndexError:
  print("Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e " + str(len(anos)-1))
except Exception as exc:
  print(exc)
  print("Erro genérico")

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

## **2.3.try / except / finally**

In [ ]:
nome = "Andre Perez"
idade = 19

try:
  apresentacao = "Fala pessoal, meu nome é " + nome + "e eu tenho " + idade + "anos"
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally:
  print("Segunda Chance")
  apresentacao = "Fala pessoal. meu nome é " + nome + " e eu tenho " + idade + " anos. "
  print(apresentacao)

Segunda Chance
Fala pessoal. meu nome é Andre Perez e eu tenho 19 anos.

Exemplo: Erro por combinações de tipos diferentes.

In [ ]:
 anos = [2019, 2020, 2021]  
 ano_atual = anos[3]

IndexError: ignored

In [ ]:

   cursos = {
    "python": {
        "nome": "Python para Análise de Dados". "duração":2.5  
    }.
      "sql": {
          "nome": "SQL para Análise de Dados", "duracao": 2
      }
  }

  curso-atual =  cursos["analista"]

IndentationError: ignored

### **2.2 Try / except**


Estruturas para tratar exceções.

In [ ]:
preco = 132.85
pessoas = 0

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print("Número de pessoas inválido. Espera-se um valor maior que 0 e obteve um valor igual a " + str(pessoas))

Número de pessoas inválido. Espera-se um valor maior que 0 e obteve um valor igual a 0

In [ ]:
anos = [2019,2020,2021]

try:
  ano_atual = [3]
  print(ano_atual)
except Exception:   
  print("Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e " + str(len(anos) -1))

[3]

In [ ]:
anos = [2019, 2020, 2021]

try:
    ano_atual = anos[3]
    print(ano_atual)
except Exception as exc:
    print("Descrição da exceção: " +str(exc))
    print("Tipo da exceção: " +str(type(exc)))
    print("Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e " + str(len(anos) - 1))

Descrição da exceção: list index out of range
Tipo da exceção: <class 'IndexError'>
Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [ ]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[3]
  print(ano_atual)
except IndexError:
  print("Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e " +str(len(anos)-1))
except Exception as exc:
  print(exc)
  print("Erro genérico")

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

### **2.3 try / except / finally**

In [ ]:
nome = "Andre Perez"
idade = 19

In [ ]:
try:
  apresentacao = "Fala pessoal, meu nome é " + nome + " e eu tenho " + idade + " anos "
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally:
  print("segunda chance")
  apresentacao = "Fala pessoal, meu nome é " + nome + "e eu tenho " + idade + " anos "
  print(apresentacao)

segunda chance
Fala pessoal, meu nome é Andre Pereze eu tenho 19 anos

## 3.Estrutura de repetição for / in

### **3.1 for / in**

Estrutura que permite a execução repetida de um bloco de código repetidas vezes.

In [ ]:
for variavel_temporaria in coleção:
  <execute este código>

# **3.2. for / in / range**

Estrutura que permite a execução repetida de um bloco de código **n** vezes.

In [ ]:
for valor in range (6):
  print(valor)

0
1
2
3
4
5

In [1]:
soma = 0

for valor in range (0, 10):
  soma = soma + valor

  print(soma)

0
1
3
6
10
15
21
28
36
45

In [2]:
for multiplo_dois in range (2, 10, 2):
  print(multiplo_dois)

2
4
6
8

## **3.3. for / in / list**

Estrutura que permite a execução de um bloco de código para todos os elementos de uma lista.

In [2]:
frutas = ["maçã", "banana", "laranja", "uva", "pera"]

for fruta in frutas:
  print(fruta)

maçã
banana
laranja
uva
pera

In [3]:
frase = "Fala pessoal, meu nome é André Perez."

for caracter in frase:
  if (caracter == "A")  |  (caracter == "z"):
    print(f"A letra '{caracter}' esta presente na frase.")

A letra 'A' esta presente na frase.
A letra 'z' esta presente na frase.

## **3.4. for / in / dict**

Estrutura que permite a execução de um bloco de código para todos os elementos de um dicionário.

In [4]:
credito = {"123": 750, "456": 812, "789": 980}

for chave, valor in credito.items():
  print(f"Para o documento {chave}, o valor do escore de crédito é {valor}.")
  print("\n")

Para o documento 123, o valor do escore de crédito é 750.


Para o documento 456, o valor do escore de crédito é 812.


Para o documento 789, o valor do escore de crédito é 980.

In [5]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f"Para o documento {chave}, o valor do escore de crédito é {credito[chave]}.")
  print("\n")

123
750
Para o documento 123, o valor do escore de crédito é 750.


456
812
Para o documento 456, o valor do escore de crédito é 812.


789
980
Para o documento 789, o valor do escore de crédito é 980.

In [7]:
for valor in credito.values():
  print(valor)
  print(f"O valor do escore de crédito é {valor}, mas não temos mais as chaves. ")
  print("\n")

750
O valor do escore de crédito é 750, mas não temos mais as chaves.


812
O valor do escore de crédito é 812, mas não temos mais as chaves.


980
O valor do escore de crédito é 980, mas não temos mais as chaves.

## **3.5. break / continue**

Estrutura que permite a quebra ou o avanço de um laço de repetição.

In [10]:
for i in range(0, 10*10*10*10*10*10):
  print(i)
  if i == 2:
    break

0
1
2

In [11]:
numero = 3

if numero % 2 == 0:
  print(f"O numero {numero} é par")
else:
  print(f"O numero {numero} é impar")

O numero 3 é impar

In [13]:
numero = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

  if numero % 2 == 0:
    print(f"O numero {numero} é par")
    break
  else:
    print(f"O numero {numero} é impar")

O numero 361 é impar
O numero 553 é impar
O numero 194 é par

In [14]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:
 
  if numero % 2 == 0:
    print(f"O numero {numero} é par")
    break
  else:
    continue 
    print(f"O numero {numero} é impar")

O numero 194 é par